body{
  font-family: "Arial";
  margin: 0;
  background: url("https://previews.dropbox.com/p/thumb/ACCzKuU0S-iaMsHBtetDa9itWDCMUK49N9CKbkBQTWmR_JAG4VYFyi08uK8_2aCuFMltxjIOSu_P1YMkI0DeS2Aeoy2t6eKHyQLwQ6VaL5WxGPV9y4PqSNhOyk9DlTEhcdTnbGKUm8_EG2LEfv9jeUOToNvqU_koYWNmEpXuvcOk6uS4J0hdKi3dn2ivJK6bi-65Rll2kbjYV8F-_dahlP9E1JVv6V9Jrja2iUgDtBvlAHNUzf5iajm67fAXoQO7CkyNIK2cZxFRPt3s81wBL2wnGSzM70V09PFmMfYQJLI7j_AqcbdeQV8U4z1-V6vX_B2slpyN1Zvi-W0SQtBme-kM/p.jpeg") center center cover no-repeat fixed;
};

nav{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #999;
}

nav a{
  font-family: "Arial";
  color: #000;
  padding: 1%;
  margin: 1%;
  text-decoration: none;
  float: right;
}

#hline{
  color: #90453C;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

.pagetitle{
  top: 20%;
}

/* Add a color to the active/current link */
nav a:active {
  background-color: #04AA6D;
  color: white;
}

.projectbox{
  font-family: Arial;
  margin: 10%;
  background-color: CornflowerBlue;
}

.request{
  font-family: Arial;
  border: solid white;
}

ul li{
  display: inline;
}

ul li h1{
  float: left;
}
