body{
  font-family: "Arial";
  margin: 0;
  background-image: url("marbled.jpg");
}

.navbar{
  position: fixed;
  top: 0;
  width: 180px;
  height: 100%;
  background-color: #4F5166;
}

.navbar a{
  font-family: "Arial";
  color: #C3D4CC;
  padding: 10%;
  margin: 1%;
  text-decoration: none;
  display: block;
}

.navbar ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

h1{
  text-transform: uppercase;
  font-size: 50pt;
  color:#C2A543;
  -webkit-text-stroke: #4F5166;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #3C3D40;
  color: #C2A543;
}

.wrapper .main_content{
  margin-left: 170px;
  padding-left: 5%;
  width: 100%;
}



#hline{
  color: #90453C;
}

.pagetitle{
  top: 20%;
}

/* Add a color to the active/current link */
nav a:active {
  background-color: #04AA6D;
  color: white;
}

.projectbox{
  font-family: Arial;
  margin: 10%;
  background-color: CornflowerBlue;
}

.request{
  font-family: Arial;
  border: solid white;
}
